@import url(https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab);
:root {
    --HighlatedColor: #e7a72e;
    --DisabledColor: ghostwhite;
}

body {
    background: black;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

#counter {
    position: fixed;
    top: 0;
    right: 0;
    width: 40px;
    height: 30px;
    font-size: 20px;
    color: var(--HighlatedColor);
    text-align: center
}

#categoryURL {
    display: inline-block;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    font-size: 1em;
    font-family: 'Roboto Slab', sans-serif;
    color: var(--HighlatedColor);
    fill: var(--HighlatedColor);
    background: rgba(0, 0, 0, 0.5);
    padding: 0.5em 1em;
    margin: 0;
    text-decoration: none;
    z-index: 1000;
    font-weight: bold;
}

.swiper-container {
    width: 100%;
    height: 375px;
}

.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-sizing: border-box;
}

.swiper-slide>img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    top: 0;
    left: 0;
}

.box {
    width: 300px;
    height: 200px;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 5px;
    color: white;
}

.abajo-derecha {
    bottom: 20px;
    right: 20px;
    left: unset !important;
    top: unset !important;
}

.arrow {
    background: rgba(0, 0, 0, 0.5);
    background-image: url("../images/arrow.png");
    top: 0px;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100px;
    z-index: 20;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.swiper-pagination-bullet {
    width: 1rem;
    height: 1rem;
    background: var(--DisabledColor)
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: var(--HighlatedColor);
}

.swiper-button-prev-v {
    background-image: url("https://image.flaticon.com/icons/svg/25/25223.svg");
    top: 20px;
    left: 50%;
}

.swiper-button-next-v {
    background-image: url("https://image.flaticon.com/icons/svg/118/118738.svg");
    bottom: 20px;
    left: 50%;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23FFFFFF'%2F%3E%3C%2Fsvg%3E");
    right: 10px;
    left: auto;
    fill: var(--HighlatedColor);
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23FFFFFF'%2F%3E%3C%2Fsvg%3E");
    /* background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20%2F%3E%3C%2Fsvg%3E"); */
    left: 10px;
    right: auto;
}

.swiper-button-next, .swiper-button-prev {
    background-color: #252424;
    filter: alpha(Opacity=70);
    opacity: .7;
    -moz-transition: 1s;
    -o-transition: 1s;
    -webkit-transition: 1s;
    transition: 1s;
}

.swiper-button-next, .swiper-button-prev {
    background-size: 20px;
    height: 80px;
    width: 40px;
    margin-top: -40px;
}

.swiper-button-next {
    border-radius: 40px 0 0 40px;
    right: 0;
}

.swiper-button-prev {
    border-radius: 0 40px 40px 0;
    left: 0;
}

.swiper-button-prev-v .swiper-button-next-v {
    fill: var(--HighlatedColor);
    position: absolute;
    top: 50%;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    z-index: 15;
    cursor: pointer;
    background-size: 27px 44px;
    background-position: center;
    background-repeat: no-repeat;
}

#link {
    display: inline-block;
    margin: 0;
    padding: 0 5px;
}

a.disabled {
    pointer-events: none;
}